# Spam Ham filter using sklearn

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import csv
import pandas
import sklearn
import cPickle
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC, LinearSVC
from sklearn.metrics import classification_report, f1_score, accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import StratifiedKFold, cross_val_score, train_test_split

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/usr/local/lib/python2.7/dist-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

download dataset from https://archive.ics.uci.edu/ml/machine-learning-databases/00228

# Data prepration

In [7]:
df = pd.read_csv('SMSSpamCollection' , sep='\t' , names=['status', 'message'])

In [8]:
df.head()

  status                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
len(df)

5572

In [10]:
len(df[df.status=='spam'])

747

In [11]:
df.loc[df["status"]=='ham',"status"]=1
df.loc[df["status"]=='spam',"status"]=0

In [12]:
df_y = df['status']
df_x = df['message']

In [13]:
print(df.head())

  status                                            message
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...

# Aggregate statistics analysis of data
Using pandas and matplotlib we can easily anlaysis the dataset

In [14]:
df.groupby("status").describe()

       message
         count unique                                                top freq
status
0          747    653  Please call our customer service representativ...    4
1         4825   4516                             Sorry, I'll call later   30

getting length of each message

In [15]:
df['length'] = df['message'].map(lambda msg:len(msg))
df.head()

  status                                            message  length
0      1  Go until jurong point, crazy.. Available only ...     111
1      1                      Ok lar... Joking wif u oni...      29
2      0  Free entry in 2 a wkly comp to win FA Cup fina...     155
3      1  U dun say so early hor... U c already then say...      49
4      1  Nah I don't think he goes to usf, he lives aro...      61

In [16]:
df.loc[df["status"]=='ham',"status"]=1
df.loc[df["status"]=='spam',"status"]=0
df.head()
df_y = df['status']
df_x = df['message']
X = np.array(df_x)
y = np.array(df_y)
y=y.astype('int')
cv = CountVectorizer()
data = cv.fit_transform(df_x).toarray()
print(data[0:5])

TypeError: invalid type comparison

In [17]:
X_train,X_test,y_train,y_test = train_test_split(data,y,test_size=.9)
# clf = SVC(gamma=.1,C=100)
clf = MultinomialNB()
clf.fit(X_train,y_train)

NameError: name 'data' is not defined

In [18]:
clf.score(X_test,y_test)
p = clf.predict(X_test)examples = ['Free Viagra call today!', "I'm going to attend the Linux users group tomorrow.","U dun say so early hor... U c already then"]
# example_counts = data[0]
example_counts = cv.transform(examples)
print(example_counts)
predictions = clf.predict(example_counts)
predictions

SyntaxError: invalid syntax (<ipython-input-18-3525534cbe02>, line 2)